---
#
#  Usage:
#  $> yamllint .
#
#  Docs:
#  - https://yamllint.readthedocs.io/en/stable/
#  - https://yamllint.readthedocs.io/en/stable/rules.html
#  - https://yamllint.readthedocs.io/en/stable/disable_with_comments.html
#
ignore: |
  cachedir/
  docs/
  logs/
  *.log

extends: default

rules:
  comments:
    level: error
    ignore-shebangs: true
    require-starting-space: true
    min-spaces-from-content: 2
  document-start:
    present: true
  indentation:
    spaces: 2
    indent-sequences: false
    check-multi-line-strings: true
  line-length:
    max: 120
    allow-non-breakable-inline-mappings: true
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
